$techhub: #f9b233;
$family-serif: "Georgia", serif;

$family-primary: "Roboto", sans-serif;
$primary: $techhub;
$radius: 0px;

@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/grid/columns";
@import "../../node_modules/bulma/sass/layout/_all";
@import "../../node_modules/bulma/sass/elements/content";
@import "../../node_modules/bulma/sass/elements/title";
@import "../../node_modules/bulma/sass/elements/other";
@import "../../node_modules/bulma/sass/components/nav";
@import "../../node_modules/bulma/sass/components/level";

span.is-button-label {
  font-weight: 600;
}

.content-padding {
  @media (min-width:$tablet) {
    padding: 0.75rem;
  }
}

.hero-head-techhub {
  background-color: $techhub;
  .central-message {
    color: #3d3c3c;
    font-size: 15px;
    align-self: center;
    font-weight: 500;
  }
  @media (min-width:$tablet) {
    position: fixed;
    width: 100%;
    z-index: 1999;
    .central-message {
      color: #3d3c3c;
      font-size: 22px;
      align-self: center;
      font-weight: 500;
    }
  }
}

.hero-body-splash {
  @media (max-width:$tablet) {
    .title {
      font-size: 2.4em;
    }
    .subtitle {
      font-size: 1.75em;
    }
  }
}

.button.button-join {
  background-color: #2E7D32;
  border: 1px solid darken(#2E7D32, 10);
  &:hover {
    background-color: darken(#2E7D32, 5);
    border: 1px solid darken(#2E7D32, 10);
  }
  span {
    color: #fff;
  }
}

blockquote.is-large {
  font-size: 1.4em;
}

span.li-title {
  font-size: 1.2em;
  line-height: 1.25em;
  font-weight: 600;
  display: block;
}

.ul-why-techhub li {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.p-lead {
  font-size: 1.2em;
}

.pricing {
  font-size: 1.25em;
  .single-price {
    margin-bottom: 10px;
  }
}

.hero.is-dark a.link-th {
  color: $techhub;
  &:hover {
    color: darken($techhub, 15%);
  }
}

.is-extralarge {
  font-size: 2rem;
}

.footer.is-dark {
  background-color: #3d3c3c;
  .level-item {
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer-icons {
    margin-top: 25px;
    .icon {
      font-size: 24px;
    }
    :not(:last-child) {
      margin-right: 15px;
    }
  }
  a:hover {
    color: darken($techhub, 15%);
  }
}

.bg-header {
  background-image: url('/images/bg_header_darker.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.bg-footer {
  min-height: 300px;
  @media (min-width: $tablet) {
    min-height: 600px;
  }
}

.bg-footer1 {
  background-image: url('/images/bg4.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  @media (min-width:$tablet) {
    background-size: cover;
  }
}

.bg-footer2 {
  background-image: url('/images/bg3.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  @media (min-width:$tablet) {
    background-size: cover;
  }
}